body{
    background-image: url("/img/DB\ logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar{
    background-color: rgb(252, 113, 0);
}

.nav-item:hover{
    cursor: pointer;    
}

.imagendiv{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.info-index{
    border-radius: 10px;
    padding: 1rem 3rem;
    padding-bottom: 3rem; 
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(255, 226, 172);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.innerimg{
    width: 15%;
}

.compraImg{
    width: 60%;
}

#desc_saga{
    word-wrap: break-word;
    margin: 5%;
}

#navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mangaList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navLeft{
    float: left;
}

#navRight{
    float: right;
}

#barraAlta{
    height: 60%;
    padding: 5%;
}

#barraBaja{
    background-color: rgb(71, 21, 21);
    padding: 5%;
}

#ultimo{
    width: 100%;
}

#comprar{
    width: 100%;
}

.prueba{
    margin: 15px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media (max-width:480px){
    body{
        background-image: url("/img/923252.webp");
    }

    .description{
        margin: 15px;
        width: 150%;
        border-radius: 10px;
        padding: 2% 2%;
        margin-top: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    #desc_saga{
        word-wrap: break-word;
    }

    .info-index{
        border-radius: 10px;
        padding: 1rem 3rem;
        padding-bottom: 3rem; 
        margin: auto;
        width: 80%;
        margin-top: 1rem;
        text-align: center;
        background-color: rgb(255, 226, 172);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .description{
        margin: auto;
        margin-bottom: 5%;
        border-radius: 10px;
        padding: 1% 2%;
        width: 100%;
        margin-top: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}